version: "3"
services:
  experimental-tools:
    build:
      context: ../../
      dockerfile: ./docker/local/experimental-tools/Dockerfile
    image: experimental-tools
    container_name: experimental-tools
    hostname: experimental-tools
    dns: 8.8.8.8
    tty: true
    stdin_open: true
    ports:
      - "50002:8080"
    environment:
      - TZ=Asia/Tokyo
      - LANG=ja_JP.utf8
    networks:
      - experimental-tools
networks:
  experimental-tools:
