version: "3"
services:
  experimental-tools:
    build:
      context: ../../
      dockerfile: .//docker/local/experimental-tools/Dockerfile
    image: experimental-tools
    container_name: experimental-tools
    hostname: experimental-tools
    dns: 8.8.8.8
    tty: true
    stdin_open: true
    ports:
      - "50000:50000"
      - "50001:50001"
      - "50002:50002"
    environment:
      - TZ=Asia/Tokyo
      - LANG=ja_JP.utf8
    networks:
      - experimental-tools
    volumes:
      - m2:/home/docker/.m2
networks:
  experimental-tools:
volumes:
  m2:
